// Colors
//---------------------------------

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

$color-main--light:               #11839e;
$color-main:                      #035063;
$color-main--dark:                #014751;
$color-accent:                    #ff7512;
$color-accent--hover:             #ec2f2d;

$color-text:                      $color-main;
$color-text--invert:              $color-default-white;

$color-body:                      $color-default-white;
$color-border:                    #e9e9e9;

// Typography
//---------------------------------

$font-family--proxima-nova:       "Proxima Nova", "Arial", sans-serif;
$font-family--museo-sans:         "Museo Sans", "Arial", sans-serif;

$font-size:                       1rem;
$line-height:                     1.25;

// Viewports
//---------------------------------

$screen--320:                     320px;
$screen--375:                     375px;
$screen--768:                     768px;
$screen--1024:                    1024px;
$screen--1280:                    1280px;
$screen--1440:                    1440px;
$screen--1920:                    1920px;

// Retina
//---------------------------------

$retina-dpi:                      144dpi;
$retina-dppx:                     1.5dppx;
