@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Proxima Nova";
  font-display: swap;
  src:
    local("Proxima Nova"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Proxima Nova";
  font-display: swap;
  src:
    local("Proxima Nova"),
    url("../fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Proxima Nova";
  font-display: swap;
  src:
    local("Proxima Nova"),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Proxima Nova";
  font-display: swap;
  src:
    local("Proxima Nova"),
    url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"),
    url("../fonts/ProximaNova-Extrabld.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Museo Sans";
  font-display: swap;
  src:
    url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-300.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Museo Sans";
  font-display: swap;
  src:
    url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Museo Sans";
  font-display: swap;
  src:
    url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff");
}
