.address {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: $color-main--dark;

  @media screen and (max-width: $screen--1024 - 1) {
    display: none;
  }
}

.address__city {
  position: relative;
  margin: 0 0 px-to-rem(5);
  padding-left: px-to-rem(20);
  font-size: px-to-rem(20);
}

.address__city svg {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: px-to-rem(14);
  height: px-to-rem(18);
  transform: translateY(-50%);
}

.address__nearby {
  margin: 0;
  font-size: px-to-rem(14);
}

.address__link {
  color: #878787;
}

.address__link span {
  color: $color-main--dark;
}
