.appointment {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.appointment__title {
  margin: 0;
  opacity: 0.6;
}

.appointment__phone {
  display: flex;
  align-items: center;
}

.appointment__number {
  margin-left: px-to-rem(14);
  font-weight: 700;
  font-size: px-to-rem(24);
}

.appointment__mail {
  font-weight: 600;
  font-size: px-to-rem(14);
  color: $color-main--dark;
}
