.breadcrumbs__wrap {
  display: flex;
  align-items: center;
}

.breadcrumbs__back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  background-color: rgba($color-main--dark, 0.08);
  border-radius: 8px;
}

.breadcrumbs__back svg {
  width: 7px;
  height: 12px;
}

.breadcrumbs__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 12px;
  padding-right: 17px;

  &:last-child {
    margin-right: 0;
    padding-right: 0;

    &::after {
      content: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 5px;
    height: 5px;
    background-color: rgba($color-main, 0.7);
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.breadcrumbs__link {
  color: rgba($color-main, 0.7);
}
