.btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: px-to-rem(12) px-to-rem(40);
  font-weight: 700;
  font-size: px-to-rem(18);
  font-family: $font-family--proxima-nova;
  line-height: 1.5;
  color: $color-text--invert;
  text-align: center;
  text-decoration: none;
  background-color: $color-main;
  border: 0;
  border-radius: px-to-rem(38);
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  &--accent {
    background-color: $color-accent;
    box-shadow: 0 px-to-rem(4) px-to-rem(16) rgba($color-accent, 0.29);
  }

  &--op-70 {
    background-color: rgba($color-main, 0.7);
  }
}
