.btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 18px;
  font-family: $font-family--proxima-nova;
  line-height: 1.5;
  color: $color-text--invert;
  text-align: center;
  text-decoration: none;
  background-color: $color-main;
  border: 0;
  border-radius: 38px;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  &--accent {
    background-color: $color-accent;
    box-shadow: 0 4px 16px rgba($color-accent, 0.29);
  }

  &--op-70 {
    background-color: rgba($color-main, 0.7);
  }
}
