.page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $color-body;
  box-shadow: 0 8px 40px rgba($color-default-black, 0.05);

  &--fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.page-header .btn {
  padding: px-to-rem(12) px-to-rem(32);
  font-size: px-to-rem(16);
}

.page-header--fixed .page-header__top {
  display: none;
}

.page-header__top {
  display: flex;
  align-items: center;
  height: px-to-rem(105);
}

.page-header__logo-wrap {
  flex: 0 0 px-to-rem(344);
}

.page-header__logo {
  display: block;
  width: px-to-rem(344);
  height: px-to-rem(76);
}

.page-header__address {
  position: relative;
  margin-left: px-to-rem(43);
  padding-left: px-to-rem(32);

  @media screen and (max-width: $screen--1200 - 1) {
    margin-left: px-to-rem(35);
    padding-left: px-to-rem(24);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1px;
    height: px-to-rem(50);
    background-color: rgba($color-border, 0.8);
    transform: translateY(-50%);
  }
}

.page-header__appointment {
  margin-left: auto;
}

.page-header__bottom {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: px-to-rem(10);
  padding-bottom: px-to-rem(18);
  border-top: 1px solid rgba($color-border, 0.8);
}

.page-header__search {
  margin-left: auto;
}

.page-header__callback {
  margin-left: px-to-rem(30);

  @media screen and (max-width: $screen--1200 - 1) {
    margin-left: px-to-rem(12);
  }
}
