.page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $color-body;
  box-shadow: 0 8px 40px rgba($color-default-black, 0.05);

  @media screen and (max-width: $screen--1024 - 1) {
    position: fixed;
    top: 0;
    width: 100%;
  }

  &--fixed {
    @media screen and (min-width: $screen--1024) {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }
}

.page-header .btn {
  padding: px-to-rem(12) px-to-rem(32);
  font-size: px-to-rem(16);
}

.page-header--fixed .page-header__top {
  @media screen and (min-width: $screen--1024) {
    display: none;
  }
}

.page-header--show-menu .page-header__bottom {
  @media screen and (max-width: $screen--1024 - 1) {
    //display: flex;
    transform: scaleY(1);
    visibility: visible;
  }
}

.page-header__top {
  display: flex;
  align-items: center;
  height: px-to-rem(105);

  @media screen and (max-width: $screen--1024 - 1) {
    position: relative;
    height: px-to-rem(70, $font-size--small);
  }
}

.page-header__toggle {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: px-to-rem(45, $font-size--small);
  height: px-to-rem(45, $font-size--small);
  margin: 0;
  padding: 0;
  background-color: $color-transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  user-select: none;

  @media screen and (max-width: $screen--1024 - 1) {
    display: flex;
  }
}

.page-header__toggle[aria-pressed="true"] span {
  background-color: $color-transparent;
  transition: background-color 0.3s 0s;

  &::before,
  &::after {
    transition: transform 0.3s 0.5s;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__toggle span {
  position: relative;
  display: block;
  width: px-to-rem(25, $font-size--small);
  height: px-to-rem(3, $font-size--small);
  background-color: $color-main;
  transition: background-color 0.3s 0.5s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: px-to-rem(25, $font-size--small);
    height: px-to-rem(3, $font-size--small);
    background-color: $color-main;
    transform-origin: 0 50%;
    transition: transform 0.3s 0s;
  }

  &::before {
    top: px-to-rem(-9, $font-size--small);
  }

  &::after {
    top: px-to-rem(9, $font-size--small);
  }
}

.page-header__logo-wrap {
  flex: 0 0 px-to-rem(344);

  @media screen and (max-width: $screen--1024 - 1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.page-header__logo {
  display: block;
  width: px-to-rem(344);
  height: px-to-rem(76);

  @media screen and (max-width: $screen--1024 - 1) {
    width: px-to-rem(220, $font-size--small);
    height: px-to-rem(47, $font-size--small);
  }

  @media screen and (max-width: 560px) {
    width: px-to-rem(50, $font-size--small);
    height: px-to-rem(50, $font-size--small);
  }
}

.page-header__address {
  position: relative;
  margin-left: px-to-rem(43);
  padding-left: px-to-rem(32);

  @media screen and (max-width: $screen--1200 - 1) {
    margin-left: px-to-rem(35);
    padding-left: px-to-rem(24);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1px;
    height: px-to-rem(50);
    background-color: rgba($color-border, 0.8);
    transform: translateY(-50%);
  }
}

.page-header__appointment {
  margin-left: auto;
}

.page-header__bottom {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: px-to-rem(10);
  padding-bottom: px-to-rem(18);
  background-color: $color-default-white;
  border-top: 1px solid rgba($color-border, 0.8);

  @media screen and (max-width: $screen--1024 - 1) {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    width: 100%;
    max-height: calc(100vh - px-to-rem(70, $font-size--small));
    padding: 0 px-to-rem(30) px-to-rem(30);
    overflow-y: auto;
    transform-origin: center top;
    transform: scaleY(0);
    transition: visibility 0.5s, opacity 0.5s, transform 0.5s;
    visibility: hidden;
  }
}

.page-header__search {
  margin-left: auto;
}

.page-header__callback {
  margin-left: px-to-rem(30);

  @media screen and (max-width: $screen--1200 - 1) {
    margin-left: px-to-rem(12);
  }

  @media screen and (max-width: $screen--1024 - 1) {
    margin-top: px-to-rem(30, $font-size--small);
    margin-left: 0;
  }
}
