.search--show .search__form-wrap {
  display: flex;
}

.search__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.search__link:hover svg,
.search__link:focus svg {
  opacity: 1;
}

.search__link svg {
  width: 22px;
  height: 22px;
  opacity: 0.16;
}

.search__form-wrap {
  position: absolute;
  top: 1px;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  align-items: center;
  height: calc(100% - 1px);
  background-color: $color-default-white;
  box-shadow: 10px 0 0 0 $color-default-white;
}

.search__close {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 2px;
    background-color: $color-main;
    transform-origin: 50% 50%;
  }

  &::before {
    transform: translateX(-50%) rotate3d(0, 0, 1, 45deg);
  }

  &::after {
    transform: translateX(-50%) rotate3d(0, 0, 1, -45deg);
  }
}
