.section__header {
  margin-bottom: px-to-rem(12);
  padding-top: px-to-rem(22);
  font-family: $font-family--museo-sans;

  @media screen and (max-width: $screen--1024 - 1) {
    margin-bottom: px-to-rem(25, $font-size--small);
  }
}

.section__title {
  margin: 0 0 px-to-rem(25);
  font-weight: 700;
  font-size: px-to-rem(36);
  line-height: 1.11;

  @media screen and (max-width: $screen--1024 - 1) {
    margin-bottom: px-to-rem(20, $font-size--small);
    font-size: px-to-rem(24, $font-size--small);
  }

  @media screen and (max-width: $screen--480 - 1) {
    margin-bottom: px-to-rem(15, $font-size--small);
    font-size: px-to-rem(20, $font-size--small);
  }
}

.section__lead {
  max-width: 50.5%;
  margin: 0;
  font-weight: 500;
  font-size: px-to-rem(20);
  line-height: 1.3;

  @media screen and (max-width: $screen--1024 - 1) {
    font-size: px-to-rem(16, $font-size--small);
  }

  @media screen and (max-width: $screen--768 - 1) {
    max-width: none;
  }

  @media screen and (max-width: $screen--480 - 1) {
    font-size: px-to-rem(14, $font-size--small);
  }
}
